@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato:300,400,700|Roboto:300,400,700&display=swap');

body {
    background-color: rgba(225, 233, 237, 0.31);
    color: #171717;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

.main-box h1 {
    text-align: center;
    font-family: 'Fredoka One', 'sans-serif';
    font-weight: normal;
    font-size: 3em;
    margin-block-start: 0.5em;
    margin-block-end: 0.2em;
}

.item img {
    max-width: 80px;
    max-height: 80px;
    margin: 15px;
    border-radius: 50%;
    border: 4px solid #3c3f41;
    height: 20%;
    width: 20%;
}

.bucket-content {
    margin: 5px;
}

.bucket-list-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 95%;
    margin: 0 auto;
}

.bucket-list-nav a {
    text-decoration: none;
    color: #80add1;
    border: 2px solid #b3b3b3;
    padding: 5px;
    border-radius: 5px;
}

.bucket-list-nav a:hover {
    color: #a0cdf1;
}

div.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
    padding: 0 5% 0 5%;
    max-width: 900px;
}

div.item {
    display: flex;
    border: 0.1em solid #b3b3b3;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}

div.item h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.item p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.navigation-bar {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;

    justify-content: space-between;
}

.navigation-bar a {
    color: #c7493a;
    border: 0.1em solid #c7493a;
    padding: 1em;
}

.navigation-bar input[type=text]{
    background-color: rgba(204, 204, 204, .3);
    border: 1px solid #636363;
    width: 35%;
}
/*Dropdown Starts*/
.dropbtn {
    background-color: #c7493a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c7493a; /*Colour of the dropdown buttons*/
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #c7493a; /*Colour of the 'My Bucket Lists' buttons*/
}
/*Dropdown Ends*/

.justifyRight {
    justify-content: flex-end;
}

.dropdown a:visited {
    text-decoration: none;
}

.dropdown a:hover {
    color: #3c3f41;
    background-color: #c7493a;
}

.dropdown a:active {
    text-decoration: none;
}