@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato:300,400,700|Roboto:300,400,700&display=swap');

body {
    background-color: rgba(225, 233, 237, 0.31);
    color: #171717;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

h1 {
    text-align: center;
    font-family: 'Fredoka One', 'sans-serif';
    font-weight: normal;
    font-size: 3em;
}

img {
    max-width: 80px;
    max-height: 80px;
    margin: 15px;
    border-radius: 50%;
    border: 4px solid #3c3f41;
}

div.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
    padding: 10px;
    max-width: 900px;
}

div.item {
    display: flex;
    border: 0.1em solid #b3b3b3;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}

div.item h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

div.item p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.navigation-bar {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 0.1em solid #c7493a;
}

.navigation-bar a {
    color: #c7493a;
    border: 0.1em solid #c7493a;
    padding: 1em;
}

.justifyRight {
    justify-content: flex-end;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #3c3f41;
    background-color: #c7493a;
}

a:active {
    text-decoration: none;
}