html {
    box-sizing: border-box;
}

body {
    background-color: rgba(225, 233, 237, 0.31);
    color: #171717;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

.user-buttons {
    display: flex;
}

.user-buttons a {
    margin: 0 5px 0 5px;
}

.main-box h1 {
    text-align: center;
    font-family: 'Fredoka One', 'sans-serif';
    font-weight: normal;
    font-size: 3em;
    margin-block-start: 0.5em;
    margin-block-end: 0.2em;
}

.item img {
    max-width: 80px;
    max-height: 80px;
    margin: 15px;
    border-radius: 50%;
    border: 4px solid #3c3f41;
    height: 20%;
    width: 20%;
}

.bucket-content {
    margin: 5px;
}

.bucket-list-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 95%;
    margin: 0 auto;
}

.bucket-list-nav a {
    text-decoration: none;
    color: #80add1;
    border: 2px solid #b3b3b3;
    padding: 5px;
    border-radius: 5px;
}

.bucket-list-nav a:hover {
    color: #a0cdf1;
}

form {
    display: block;
    font-size: 2em;
}

form div, fieldset, form button {
    display: block;
    margin: 0.5em 0.3em;
}

form input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #171717;
}

button.centered {
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: #c7493a;
    padding: 0.5em;
}

div.main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
    padding: 0 5% 0 5%;
    max-width: 900px;
}

div.item {
    display: flex;
    border: 0.1em solid #b3b3b3;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
}

div.item h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    /*font-size: 1.3em;*/
}

div.item p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    /*font-size: 1.1em;*/
}

.navigation-bar {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 7px 0 0;
    min-height: 30%;

    align-items: center;
    justify-content: space-between;
}

.userButtons {
    display: flex;
}

.navigation-bar a {
    background-color: #c7493a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

/* SEARCH BAR */
.navigation-bar input[type=text]{
    background-color: rgba(238, 238, 238, 0.8);
    width: 35%;
    border: 0;

    border-bottom: 1px solid #b3b3b3;
    font-size: 1.2em;
    border-radius: 7px;

    align-self: normal;
}

.navigation-bar input[type=text]:focus {

}

.navigation-bar input[type=text]::placeholder {
    text-align: center;
    font-size: 1.2em;
    color: #b3b3b3;
}
/*Dropdown Starts*/
.dropbtn {
    background-color: #c7493a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: flex;
    margin: 0 5px 0 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c7493a; /*Colour of the dropdown buttons*/
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #c7493a; /*Colour of the 'My Bucket Lists' buttons*/
}
/*Dropdown Ends*/

.justifyRight {
    justify-content: flex-end;
}

.dropdown a:visited {
    text-decoration: none;
}

.dropdown a:hover {
    color: #3c3f41;
    background-color: #c7493a;
}

.dropdown a:active {
    text-decoration: none;
}